<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MQTTKitComeOn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE945ABC1BD0A52300C6C1F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE945AD81BD0A52400C6C1F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE945AE31BD0A52400C6C1F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
